<div class="col-xs-8 col-sm-6">
    <%= form_for @contact, html: {id: :contact } do |f| %>
        <table id="contact_form">
          <tr><td>Contact</td><td></td></tr>
          <tr style='display:none'><td><%= f.label 'id' %></td><td><%= f.text_field 'id' %></td></tr>
          <tr><td><%= f.label 'first_name' %></td><td><%= f.text_field 'first_name' %></td></tr>
          <tr><td><%= f.label 'last_name' %></td><td><%= f.text_field 'last_name' %></td></tr>
          <tr><td><%= f.label 'home_number' %></td><td><%= f.text_field 'home_number' %></td></tr>
          <tr><td><%= f.label 'mobile_number' %></td><td><%= f.text_field 'mobile_number' %></td></tr>
          <tr><td><%= f.label 'email' %></td><td><%= f.text_field 'email' %></td></tr>
          <tr><td><%= f.submit 'Submit' %></td><td></td></tr>
        </table>
    <% end %>

    <br>

    <button id="clear" class="btn btn-danger">New</button>
    <button id="getAll" class="btn btn-danger">Show All</button>

    <br><br>

    <button id="delete" class="btn btn-danger" disabled>Delete</button>

    <br><br>

    <form id="search">
      <div class="col-md-6">
        <input type="text" id="search_content" class="form-control">
      </div>
      <input type="submit" value="Search" class="btn btn-success">
    </form>
    </div>

<div class="col-xs-4 col-sm-6" id="resultsHolder">
    <span>Results</span>
    <table class="table table-striped" id="results">
    </table>
</div>


<script>

  var readyToSubmit = true;

  $(document).ready(function(){
      $("input[type=text]").addClass("form-control");
      $("input[type=submit]").addClass("btn").addClass("btn-warning");

      console.log('ready');

  });

  //CLEAR
  $("#clear").click(function(){
      $("#contact")[0].reset();
      $("#delete").prop('disabled', true);
  });

  $("#search").submit(function(){
      event.preventDefault();

          var formData = {
              'search' : $("#search_content").val()
          };

          $.ajax({
              type      : 'POST',
              url       : '/contacts/search',
              data      : formData,
              dataType  : 'json'
          })

          .done(function(data) {
              console.log(data);
              $("#results").empty();
              $.each(data, function(i, obj){
                  $("#results").append("<tr id=" + obj.id + "><td class='id' style='display:none'>" + obj.id + "</td><td class='first_name'>" + obj.first_name+ "</td><td class='last_name'>" + obj.last_name + "</td><td class='home_number'>"
                          + obj.home_number + "</td><td class='mobile_number'>" + obj.mobile_number
                          + "</td><td class='email'>" + obj.email + "</td></tr>");
              });

          });
  });

  $("#getAll").click(function(){
      getAll()
  });

  //GET ALL DATA
  function getAll(){

      $.ajax({
          type        : 'GET',
          url         : '/contacts/show_all',
          dataType    : 'json'
      })

      .done(function(data) {
          console.log(data);
          $("#results").empty();
          $.each(data, function(i, obj){
              $("#results").append("<tr id=" + obj.id + "><td class='id' style='display:none'>" + obj.id + "</td><td class='first_name'>" + obj.first_name+ "</td><td class='last_name'>" + obj.last_name + "</td><td class='home_number'>"
                      + obj.home_number + "</td><td class='mobile_number'>" + obj.mobile_number
                      + "</td><td class='email'>" + obj.email + "</td></tr>");
          });
      });

  }

  $("#delete").on("click", function(){
      if(confirm('Are you sure?')){
          deleteContact();
      } else {
          console.log('delete canceled!');
      }
  });

  function deleteContact(){
      var id = $("#contact_id").val();

      $.ajax({
          type        : 'DELETE',
          url         : '/contacts/' + id,
          dataType    : 'json'
      })

      .fail(function(data){
          console.log(data);
      })
      .done(function(data){
          console.log('looking good!');
          console.log(data);
          getAll();
          $("#contact")[0].reset();
      });
  }


  //SUBMIT DATA
  $("#contact").submit(function(event){
      event.preventDefault();

      //var formData = $("#contact").serialize();

      if (readyToSubmit) {
          var formData = {
              'first_name'     : $("#contact_first_name").val(),
              'last_name'      : $("#contact_last_name").val(),
              'home_number'    : $("#contact_home_number").val(),
              'mobile_number'  : $("#contact_mobile_number").val(),
              'email'          : $("#contact_email").val()
          };

          $.ajax({
              type        : 'POST',
              url         : '/contacts',
              data        : formData,
              dataType    : 'json'
          })

          .done(function(data) {
              console.log(data);
              $("#contact_first_name").val('');
              $("#contact_last_name").val('');
              $("#contact_home_number").val('');
              $("#contact_mobile_number").val('');
              $("#contact_email").val('');
              getAll();

          });
      } else {
          alert('click new to submit a new contact');
      }

  });

  //click handler for results table
  $('#resultsHolder').on("click", '#results tr', function(){
      //alert($(this).attr("id"));

      $("#status").text("saved!");
      $("#contact_id").val($(this).children('.id').text());
      $("#contact_first_name").val($(this).children('.first_name').text());
      $("#contact_last_name").val($(this).children('.last_name').text());
      $("#contact_home_number").val($(this).children('.home_number').text());
      $("#contact_mobile_number").val($(this).children('.mobile_number').text());
      $("#contact_email").val($(this).children('.email').text());

      $("#delete").prop('disabled', false);
      readyToSubmit = false;

  });



</script>

