<div class="col-xs-8 col-sm-6">
    <%= form_for @contact, html: {id: :contact } do |f| %>
        <table id="#contact_form">
          <tr><td>Status</td><td id="status"></td></tr>
          <tr><td><%= f.label 'first_name' %></td><td><%= f.text_field 'first_name' %></td></tr>
          <tr><td><%= f.label 'last_name' %></td><td><%= f.text_field 'last_name' %></td></tr>
          <tr><td><%= f.label 'home_number' %></td><td><%= f.text_field 'home_number' %></td></tr>
          <tr><td><%= f.label 'mobile_number' %></td><td><%= f.text_field 'mobile_number' %></td></tr>
          <tr><td><%= f.label 'email' %></td><td><%= f.text_field 'email' %></td></tr>
          <tr><td><%= f.submit 'Submit' %></td><td></td></tr>
        </table>
    <% end %>

    <br>

    <button id="clear" class="btn btn-danger">New</button>
    <button id="getAll" class="btn btn-danger">Show All</button>

    <br><br>

    <form id="search">
      <div class="col-md-6">
        <input type="text" id="search_content" class="form-control">
      </div>
      <input type="submit" value="Search" class="btn btn-success">
    </form>
    </div>

<div class="col-xs-4 col-sm-6" id="resultsHolder">
    <span>Results</span>
    <table class="table table-striped" id="results">
    </table>
</div>


<script>
  $(document).ready(function(){
      $("input[type=text]").addClass("form-control");
      $("input[type=submit]").addClass("btn").addClass("btn-warning");

      console.log('ready');

  });

  //CLEAR
  $("#clear").click(function(){
      $("#contact")[0].reset();
      $("#status").empty();
  });

  $("#search").submit(function(){
      event.preventDefault();

      var formData = {
          'search' : $("#search_content").val()
      };

      $.ajax({
          type      : 'POST',
          url       : '/contacts/search',
          data      : formData,
          dataType  : 'json'
      })

      .done(function(data) {
          console.log(data);
          $("#results").empty();
          $.each(data, function(i, obj){
              $("#results").append("<tr><td>" + obj.first_name+ "</td><td>" + obj.last_name + "</td><td>"
                      + obj.home_number + "</td><td>" + obj.mobile_number
                      + "</td><td>" + obj.email + "</td></tr>");
          });

      });

  });

  $("#getAll").click(function(){
      getAll()
  });

  //GET ALL DATA
  function getAll(){

      $.ajax({
          type        : 'GET',
          url         : '/contacts/show_all',
          dataType    : 'json'
      })

      .done(function(data) {
          console.log(data);
          $("#results").empty();
          $.each(data, function(i, obj){
              $("#results").append("<tr id=" + obj.id + "><td style='display:none'>" + obj.id + "</td><td>" + obj.first_name+ "</td><td>" + obj.last_name + "</td><td>"
                      + obj.home_number + "</td><td>" + obj.mobile_number
                      + "</td><td>" + obj.email + "</td></tr>");
          });
      });


//      //clickable row
//      function addRowHandlers() {
//          var table = document.getElementById("results");
//          var rows = table.getElementsByTagName("tr");
//          for (var i = 0; i < rows.length; i++) {
//              var currentRow = table.rows[i];
//              var createClickHandler =
//                      function(row)
//                      {
//                          return function() {
//                              var cell = row.getElementsByTagName("td")[0];
//                              var id = cell.innerHTML;
//                              alert("id:" + id);
//                          };
//                      };
//
//              currentRow.onclick = createClickHandler(currentRow);
//          }
//      }
//
//      addRowHandlers();


  }

  //SUBMIT DATA
  $("#contact").submit(function(event){
      event.preventDefault();

      //var formData = $("#contact").serialize();

      var formData = {
          'first_name'     : $("#contact_first_name").val(),
          'last_name'      : $("#contact_last_name").val(),
          'home_number'    : $("#contact_home_number").val(),
          'mobile_number'  : $("#contact_mobile_number").val(),
          'email'          : $("#contact_email").val()
      };

      $.ajax({
          type        : 'POST',
          url         : '/contacts',
          data        : formData,
          dataType    : 'json'
      })

      .done(function(data) {
          console.log(data);
          $("#status").text("saved!");
          $("#contact_first_name").val('');
          $("#contact_last_name").val('');
          $("#contact_home_number").val('');
          $("#contact_mobile_number").val('');
          $("#contact_email").val('');
          getAll();

      });


  });

  $('#resultsHolder').on("click", '#results tr', function(){
      alert($(this).attr("id"));
  });



</script>

